<nb-card>
    <nb-card-header>
        Modification de {{product.name}}
    </nb-card-header>
    <nb-card-body [formGroup]="productForm">
        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">Type</label>
                <nb-select [selected]="selectedType" fullWidth formControlName="type">
                    <nb-option value="entrees">Entrées</nb-option>
                    <nb-option value="plats">Plats</nb-option>
                    <nb-option value="desserts">Desserts</nb-option>
                    <nb-option value="boissons">Boissons</nb-option>
                    <nb-option value="plats">Plateaux</nb-option>
                    <nb-option value="formules_midi">Formules midi</nb-option>
                </nb-select>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">Catégorie</label>
                <input type="text" nbInput fullWidth formControlName="categoryName" [nbAutocomplete]="auto">
                <nb-autocomplete #auto>
                    <nb-option *ngFor="let category of filteredCategories" [value]="category.key">
                      {{ category.key }}
                    </nb-option>
                  </nb-autocomplete>              
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">TVA</label>
                <nb-select [selected]="selectedTaxRate" fullWidth formControlName="taxRate">
                    <nb-option [value]=5.5>5.5%</nb-option>
                    <nb-option [value]=10>10%</nb-option>
                    <nb-option [value]=20>20%</nb-option>
                  </nb-select>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">Total HT</label>
                <input type="text" nbInput fullWidth formControlName="total">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">Total TTC</label>
                <input type="text" nbInput fullWidth formControlName="totalTaxInclusive">
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label class="label">Mots clés</label>
                <input type="text" nbInput fullWidth formControlName="keywords">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <div class="form-group">
                <label class="label">Image</label>
                <input type="file" nbInput fullWidth formControlName="imageUrl">
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button class="mr-2" type="submit" nbButton status="danger" (click)="cancel()">Annuler</button>
            <button type="submit" nbButton status="success" (click)="update()" >Modifier le produit</button>
        </div>
    </nb-card-body>
</nb-card>